
#eclipse project files:

.cproject
.project
.settings/
.vs/
.vscode/

#compiled binary files:

bin/
build/
*.exe
*.o
*.a
*.so

#temporary files:

*~

#test files:

test/
conf/

/Makefile
Makefile
track_log
log
maiter
*.sh
log*
*log


